* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #1f242d;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 35px;
}

.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
  color: #0ef;
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9% 0;
  color: white;
}

.home-info h1 {
  font-size: 55px;
}

.home-info h2 {
  display: inline-block;
  font-size: 35px;
  margin-top: -10px;
}

.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #0ef;
}

.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-radius: 2px solid #0ef;
  color: #0ef;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 3s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.home-info p {
  font-size: 18px;
  margin: 10px 0 25px;
}

.home-info .btn-sci {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: #0efe;
  border: 2px solid #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: black;
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  color: #0ef;
  box-shadow: none;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  padding-bottom: 20%;
  width: 20px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.home-info .btn-sci .sci {
  margin-left: 21px;
}

.home-info .btn-sci .sci a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  margin: 0 8px;
  transition: 0.5s;
}

.home-info .btn-sci .sci a:hover {
  background: #0ef;
  color: #1f242d;
  box-shadow: 0 0 10px #0ef;
}

.home-img .img-box {
  position: relative;
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
}

.home-img .img-box::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: conic-gradient(transparent 75%, #0ef);
  border-radius: 50%;
  z-index: 0;
  animation: rotate 4s linear infinite;
}

.home-img .img-box .img-item {
  width: 95%;
  height: 95%;
  background: #1f242d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.home-img .img-box .img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
